<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <title>Test Email Validate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <!--<style></style>
    <link rel="stylesheet" href="styles.css">-->
</head>


<body class="em_body" style="background:#ffffff">
    <table class="em_full_wrap" valign="top" width="100%" cellspacing="0" cellpadding="0" border="0"
        align="center">
        <tbody>
            <tr>
                <td valign="top" align="center">
                    <table class="em_main_table" style="width:700px;" width="700" cellspacing="0" cellpadding="0"
                        border="0" align="center">
                        <!--Header section-->
                        <tbody>

                            <!--//Header section-->
                            <!--Banner section-->
                            <tr>
                                <td valign="top" align="center"
                                    style="margin-top: 50px;margin-bottom: 10px; display:block; font-family: 'Poppins', sans-serif; font-size:30px; line-height:34px; max-width:700px;">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td valign="top" align="center"><img class="em_img" alt="Logo"
                                                        style="display:block"
                                                        src="../assets/icon/logo.png" width="100px" border="0"
                                                        height="45px"><br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--//Banner section-->
                            <!--Content Text Section-->
                            <tr>
                                <td style="background:center no-repeat url(../assets/icon/background-profile.png); border-radius: 25px;"
                                    class="em_padd" valign="top" align="center">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="font-family: 'Poppins', sans-serif; font-size:18px; line-height:30px; color:#ffffff; text-align: center"
                                                    valign="top" align="center">Hola {{name}}, 
                                                    <br><br>
                                                    El usuario con nombre: {{name}}, y que cuenta con el correo eléctronico: {{email}}
                                                    ha solicitado una llamada al número: {{phone}}. Por favor
                                                    comunicarse en el siguiente horario: {{schedule}}.</td>
                                            </tr>
                                            <!--— <tr>
                                                <td style="font-family: 'Poppins', sans-serif; font-size:18px; line-height:0px; height:15px;" height="15">
                                                    &nbsp;</td>
                                               this is space of 15px to separate two paragraphs
                                            </tr>
                                            <tr>
                                                <td style="font-family:'Poppins', sans-serif; font-size:18px; line-height:22px; color:#fbeb59; letter-spacing:2px; padding-bottom:12px;"
                                                    valign="top" align="center">
                                                    <a href="{{link}}" target="_blank"
                                                        style="color:#878787; text-decoration:underline;">Profile link</a>
                                                        This is paragraph 2 of font size 18px
                                                    and #fbeb59 font color with a line spacing of 15px</td>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="em_h20" style="font-size:0px; line-height:0px; height:25px;"
                                                    height="25">&nbsp;</td>
                                                this is space of 25px to separate two paragraphs 
                                            </tr> -->
                                            <tr>
                                                <!--text-transform:uppercase;-->
                                                <td style="font-family:'Poppins', sans-serif; font-size:18px; line-height:22px; color:#ffffff; padding-bottom:12px;"
                                                    valign="top" align="center"><br>Por favor no respondas este correo.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <!--//Content Text Section-->
                            <!--Footer Section #f6f7f8-->
                            <tr>
                                <td style="padding:38px 30px;" class="em_padd" valign="top" bgcolor="#ffffff"
                                    align="center">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom:16px;" valign="top" align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <!-- <td valign="top" align="center"><a href="#"
                                                                        target="_blank"
                                                                        style="text-decoration:none;"><img
                                                                            src="../assets/icon/facebook.svg" alt="fb"
                                                                            style="display:block; font-family: 'Poppins', sans-serif; font-size:14px; line-height:14px; color:#ffffff; max-width:26px;"
                                                                            width="26" border="0" height="26"></a></td>
                                                               <td style="width:6px;" width="6">&nbsp;</td>
                                                                <td valign="top" align="center"><a href="#"
                                                                        target="_blank"
                                                                        style="text-decoration:none;"><img
                                                                            src="C:/tu-experto-api/public/assets/logo/ins.svg"
                                                                            alt="tw"
                                                                            style="display:block; font-family: 'Poppins', sans-serif; font-size:14px; line-height:14px; color:#ffffff; max-width:27px;"
                                                                            width="27" border="0" height="26"></a></td>
                                                                <td style="width:6px;" width="6">&nbsp;</td> -->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: 'Poppins', sans-serif; font-size:11px; line-height:18px; color:#878787;"
                                                    valign="top" align="center"><a href="#" target="_blank"
                                                        style="color:#878787; text-decoration:underline;">Políticas de privacidad
                                                    </a> | <a href="#" target="_blank"
                                                        style="color:#878787; text-decoration:underline;">Términos y
                                                        condiciones</a><br>
                                                    © 2021 Tus Trámites VIP. Todos los derechos reservados.<br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>